.team {padding: 80px 0;background-color: red}
.team .tle {font-size: 26px; line-height: 80px;}
.human figure img{width: 200px; border-radius: 50%}
.human figcaption stron{display: block}
.human figcaption small{display: block}