<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>백종원의 레시피</title>
    <link rel="stylesheet" href="/static/blog/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blog/jquery.slim.min.js">
    <link rel="stylesheet" href="/static/blog/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/static/blog/layout.css">
    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
    <link rel="css/subcide.css" href="stylesheet">
</head>
<!-- UI Object -->
<div id="wrap">
    <!-- header -->
    <div id="header">
        <h1 class="logo"><a href="http://127.0.0.1:8000/"><img src="http://placehold.it/1100x120" alt="To home"></a></h1>
    </div>
    <!-- //header -->
    <!-- container -->
    <div id="container">
        <!-- snb -->
        <div class="snb">

            <!-- Search Widget -->
            <h5 class="header">검색</h5>
            <div class="body">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-append">
            <button class="btn btn-secondary" type="button">검색</button>
                            </span>
                </div>
            </div>
            <!-- //Search Widget -->
            <!--요리방송-->
        <div class="inn">
            <h5 class="header">| 요리 방송</h5>
            <ul class="tv">
                <li><a href="https://home.ebs.co.kr/cook/main">최고의 요리 비결</a></li>
                <li><a href="http://www.imbc.com/broad/tv/ent/100father/">백파더 : 요리를 멈추지 마!</a></li>
                <li><a href="https://programs.sbs.co.kr/enter/2019taste/main?div=entersectionmain_allprogram">맛남의 광장</a></li>
            </ul>
        </div>
        <section class="team">
            <h3 class="tle">OUR TEAM</h3>
            <ul class="human">
                <li>
                    <figure>
                        <img src="static/img/avatar6.png" alt="Avatar">
                        <figcaption>
                            <strong>김성주</strong>
                            <small>Web Designer</small>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="static/img/avatar6.png" alt="Avatar">
                        <figcaption>
                            <strong>정다혜</strong>
                            <small>Web Designer</small>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="static/img/avatar6.png" alt="Avatar">
                        <figcaption>
                            <strong>마유진</strong>
                            <small>Web Designer</small>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="static/img/avatar6.png" alt="Avatar">
                        <figcaption>
                            <strong>한채은</strong>
                            <small>Web Designer</small>
                        </figcaption>
                    </figure>
                </li>

            <tr>
                <td class="user-avatar"> <img src="static/img/avatar5.png" alt="Avatar">정다혜</td>
                <td>Main structure markup</td>
                <td>Jul 28, 2015</td>
            </tr>

            </ul>
        </section>
        </div>
        <!-- //snb -->
        <!-- aside -->

        <div class="aside">
        <div class="inn">
            <div class="section">
                <h5 class="hx">한식</h5>
                {% for p in object_list %}
                    {% if p.category.name == "한식" %}
                        <div class="tx"><a href="#">{{ p.title }}</a></div>
                    {% endif %}
                {% endfor %}

                <a href="#" class="section_more">
                    <span class="ico"></span> 더보기
                </a>
            </div>
        </div>
        <div class="inn">
            <div class="section">
                <h5 class="hx">중식</h5>
                {% for p in object_list %}
                    {% if p.category.name == "중식" %}
                        <div class="tx"><a href="#">{{ p.title }}</a></div>
                    {% endif %}
                {% endfor %}
                <a href="#" class="section_more">
                    <span class="ico"></span> 더보기
                </a>
            </div>
        </div>
        <div class="inn">
            <div class="section">
                <h5 class="hx">일식</h5>
                {% for p in object_list %}
                    {% if p.category.name == "일식" %}
                        <div class="tx"><a href="#">{{ p.title }}</a></div>
                    {% endif %}
                {% endfor %}
                <a href="#" class="section_more">
                    <span class="ico"></span> 더보기
                </a>
            </div>
        </div>
        <div class="inn">
            <div class="section">
                <h5 class="hx">양식</h5>
                {% for p in object_list %}
                    {% if p.category.name == "양식" %}
                        <div class="tx"><a href="#">{{ p.title }}</a></div>
                        <a href="#" class="section_more">
                            <span class="ico"></span> 더보기
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
        <!-- //aside -->
        <!-- content -->
        <div id="content">
        <div class="inn">
             <h4 class="my-4">인기 게시물</h4>
                    <!-- Project One -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="title" href="#"><h3>Project One</h3></a>
                            <a class="post" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>

                    <!-- Project Two -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="title" href="#"><h3>Project Two</h3></a>
                            <a class="post" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>

                    <!-- Project Three -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="title" href="#"><h3>Project Three</h3></a>
                            <a class="post" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore dolorum earum est, eveniet, illo modi molestiae necessitatibus, perspiciatis quia quo sed. A doloribus excepturi in incidunt mollitia nobis praesentium, quas suscipit temporibus tenetur vel.</a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>

                    <!-- Project Four -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300" alt="">
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a class="title" href="#"><h3>Project Four</h3></a>
                            <a class="post" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorem dolorum, eius enim eum excepturi, id labore laudantium numquam, odit officiis omnis optio perspiciatis praesentium quos rerum sed tenetur ullam? Aperiam dolores provident rem saepe!</a>
                        </div>
                    </div>
        </div>
                    <!-- Page Content -->

                    <div class="row">


                            {% for p in object_list %}

                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="card h-100">
                                            <a href="#"><img class="card-img-top" src="{{ p.head_image.url }}" alt=""></a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="#">{{ p.title }}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                            {% endfor %}

                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Two</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        
                    </div>

        </div>
        <!-- //content -->
    </div>
    <!-- //container -->
</div>
<!-- //UI Object -->
</html>